<%- include('../_layouts/adminheader') %>

	<div class="container mt-3 mb-4">
		<div class="mb-4"><h3>Quản Lý Bài Đăng</h1></div>
		<a href="/admin/create" class="btn btn-success">Thêm thông tin</a>

		<% articles.forEach(article => {%>
			<div class="row mt-4">
				<div class="col-md-2"><img src="/uploads/<%= article.image%>" style="width: 160px; height:140px"></div>
				<div class="card-body col-md-10">
					<h4 class="card-title"><%= article.title%></h4>
					<div class="card-subtitle text-muted mb-2">
						<%= article.createdAt.toLocaleDateString(); %>
					</div>
					<div class="card-text mb-2"><%= article.description%></div>
					<a href="/admin/articles/<%= article.slug%>" class="btn btn-primary" >Chi tiết</a>
					<a href="/admin/edit/<%= article.id%>" class="btn btn-info" >Chỉnh sửa</a>
					<form action="/admin/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
						<button type="submit" class="btn btn-danger" >Xóa</button>
					</form>
				</div>
				
			</div>
		<% }) %>
	</div>


<%- include('../_layouts/adminfooter') %>