<%- include('./_layouts/home_header') %>

  <div class="container-fluid stats text-center">
    <div class="row latest-report">
      <div class="col-sm-3 country">
        <div class="name">Quốc gia...</div>
        <div class="change-country">Thay đổi</div>
        <div class="search-country hide">
          <div class="search-box">
            <input
              type="text"
              id="search-input"
              placeholder="Tìm kiếm quốc gia..."
            />
            <img class="close" src="./images/close.png" alt="" />
          </div>
          <div class="country-list"></div>
        </div>
      </div>
      <div class="col-sm-3 total-cases">
        <div class="title">Tổng số ca nhiễm</div>
        <div class="value"></div>
        <div class="new-value">+0</div>
      </div>
      <div class="col-sm-3 recovered">
        <div class="title">Đã bình phục</div>
        <div class="value">0</div>
        <div class="new-value">+0</div>
      </div>
      <div class="col-sm-3 deaths">
        <div class="title">Số ca tử vong</div>
        <div class="value">0</div>
        <div class="new-value">+0</div>
      </div>
    </div>
    <div class="chart">
      <canvas id="axes_line_chart"></canvas>
    </div>
  </div>

  <div class="container-fluid mt-4">
    <div class="row">
    <div class="col-sm-2 text-center global" >
          <ul class="list-group" >
            <li class="list-group-item"><h4><b>THẾ GIỚI</b></h4><img width="150" height="60" src="/images/wmap.png"></li>
            <li class="list-group-item">
              <div><h6>Tổng số ca nhiễm</h6></div>
              <div class="confirmed pb-3"><%= confirmed %></div>
              <div><h6>Đã bình phục</h6></div>
              <div class="rcv pb-3"><%= recovered %></div>
              <div><h6>Số ca tử vong</h6></div>
              <div class="dead pb-3"><%= deaths %></div>
            </li>
            </ul>
          </div>
          <div class="col-sm-10 text-center global" >
            <div class="row mb-4"><div id='map' style='width: 95%; height: 70vh;'></div></div>
            <div class="row text-center">
              <div class="col"></div>
              <div class="col"><img src="./images/marker-grey.png" alt="" width="45px" height="45px"><b>< 20.000</b></div>
              <div class="col"><img src="./images/marker-blue.png" alt="" width="45px" height="45px"><b>20.000 - 200.000</b></div>
              <div class="col"><img src="./images/marker-red.png" alt="" width="45px" height="45px"><b>> 200.000</b></div>
              <div class="col"></div>
            </div>
          </div>
      <div class="row mt-2 mb-4">
        <div class="col-sm-1 mt-2 mb-2">
        </div>
        <div class="col-sm-10 mt-2 mb-4 text-center bn-list">
          <%- siteHeading%>
        </div>   
      </div>

    </div>
  </div>
</div>



<%- include('./_layouts/home_footer') %>
          